.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
Java_SoftwareTesting/.idea/workspace.xml
sandbox/build.gradle.bak
sandbox/build/classes/java/main/MyFirstProgram.class
sandbox/build/libs/sandbox.jar
sandbox/build/tmp/compileJava/previous-compilation-data.bin
sandbox/build/tmp/jar/MANIFEST.MF
sandbox/out/
.gitignore.bak
sandbox/out/production/classes/ru/stqa/Java_SoftwareTesting/sandbox/MyFirstProgram.class
sandbox/out/production/classes/ru/stqa/Java_SoftwareTesting/sandbox/MySecondProgram.class
sandbox/out/production/classes/ru/stqa/Java_SoftwareTesting/sandbox/Point.class
sandbox/out/production/classes/ru/stqa/Java_SoftwareTesting/sandbox/Rectangle.class
sandbox/out/production/classes/ru/stqa/Java_SoftwareTesting/sandbox/Square.class
sandbox/out/test/classes/ru/stqa/Java_SoftwareTesting/sandbox/SquareTests.class
sandbox/out/production/classes/ru/stqa/Java_SoftwareTesting/sandbox/MyFirstProgram.class
sandbox/out/production/classes/ru/stqa/Java_SoftwareTesting/sandbox/MySecondProgram.class
sandbox/out/production/classes/ru/stqa/Java_SoftwareTesting/sandbox/Point.class
sandbox/out/production/classes/ru/stqa/Java_SoftwareTesting/sandbox/Rectangle.class
sandbox/out/production/classes/ru/stqa/Java_SoftwareTesting/sandbox/Square.class
sandbox/out/production/classes/ru/stqa/Java_SoftwareTesting/sandbox/MyFirstProgram.class
sandbox/out/production/classes/ru/stqa/Java_SoftwareTesting/sandbox/MySecondProgram.class
sandbox/out/production/classes/ru/stqa/Java_SoftwareTesting/sandbox/Point.class
sandbox/out/production/classes/ru/stqa/Java_SoftwareTesting/sandbox/Rectangle.class
sandbox/out/production/classes/ru/stqa/Java_SoftwareTesting/sandbox/Square.class
sandbox/out/test/classes/ru/stqa/Java_SoftwareTesting/sandbox/SquareTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/GroupCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/GroupData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/NewCardTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/DeleteGroupTest.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/TestBase.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/CardData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ApplicationManager.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/CardData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/GroupData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/GroupCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/DeleteGroupTest.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/DeleteGroupTest.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/TestBase.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/NewCardTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/GroupHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/NavigationHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/SessionHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/GroupDeletionTest.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/GroupModificationTests.class

addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/HelperBase.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/ContactData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactDeletionTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactModificationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/HelperBase.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/ContactData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/HelperBase.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/ContactData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/HelperBase.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/ContactData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactCreationTests.class
addressbook-web-tests/addressbook-web-tests - Ярлык.lnk
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/HelperBase.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/generators/ContactDataGenerator.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/generators/GroupDataGenerator.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/ContactData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/Contacts.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/Groups.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactAddressTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactCreationTests$1.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactEmailTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactPhoneTest.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/GroupCreationTests$1.class
addressbook-web-tests/out/test/resources/contacts.csv
addressbook-web-tests/out/test/resources/contacts.json
addressbook-web-tests/out/test/resources/contacts.xml
addressbook-web-tests/out/test/resources/groups.csv
addressbook-web-tests/out/test/resources/groups.json
addressbook-web-tests/out/test/resources/groups.xml
addressbook-web-tests/out/test/resources/photo.jpg
addressbook-web-tests/out/test/resources/testng-contacts.xml
addressbook-web-tests/src/test/resources/contacts.csv
addressbook-web-tests/src/test/resources/contacts.json
addressbook-web-tests/src/test/resources/contacts.xml
addressbook-web-tests/src/test/resources/groups.csv
addressbook-web-tests/src/test/resources/groups.json
addressbook-web-tests/src/test/resources/groups.xml
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/HelperBase.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/ContactData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactCreationTests.class
*.log
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/HelperBase.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/ContactData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactPhoneAndEmailAndAddressTest.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/DbConnectionTest.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/HbConnectionTest.class
addressbook-web-tests/out/test/resources/hibernate.cfg.xml
addressbook-web-tests/out/test/resources/local.properties
addressbook-web-tests/out/test/resources/logback.xml
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/ContactData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/HelperBase.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/DbHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/ContactData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/HelperBase.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
soap-sample/out/test/resources/local.properties
soap-sample/out/test/classes/ru/stqa/pft/soap/GeoIpServiceTests.class
soap-sample/out/production/resources/geoipservice.wsdl
soap-sample/out/production/classes/com/lavasoft/package-info.class
soap-sample/out/production/classes/com/lavasoft/ObjectFactory.class
soap-sample/out/production/classes/com/lavasoft/GetLocationResponse.class
soap-sample/out/production/classes/com/lavasoft/GetLocation.class
soap-sample/out/production/classes/com/lavasoft/GetIpLocationResponse.class
soap-sample/out/production/classes/com/lavasoft/GetIpLocation20Response.class
soap-sample/out/production/classes/com/lavasoft/GetIpLocation20.class
soap-sample/out/production/classes/com/lavasoft/GetIpLocation.class
soap-sample/out/production/classes/com/lavasoft/GetCountryNameByISO2Response.class
soap-sample/out/production/classes/com/lavasoft/GetCountryNameByISO2.class
soap-sample/out/production/classes/com/lavasoft/GetCountryISO2ByNameResponse.class
soap-sample/out/production/classes/com/lavasoft/GetCountryISO2ByName.class
soap-sample/out/production/classes/com/lavasoft/GeoIPServiceSoap.class
soap-sample/out/production/classes/com/lavasoft/GeoIPServiceHttpPost.class
soap-sample/out/production/classes/com/lavasoft/GeoIPServiceHttpGet.class
soap-sample/out/production/classes/com/lavasoft/GeoIPService.class
mantis-tests1/out/test/resources/local.properties
mantis-tests1/out/test/resources/config_inc.php
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/appmanager/ApplicationManager.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/appmanager/DbHelper.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/appmanager/FtpHelper.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/appmanager/HelperBase.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/appmanager/HttpSession.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/appmanager/JamesHelper.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/appmanager/MailHelper.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/appmanager/RegistrationHelper.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/appmanager/ResetPasswordHelper.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/appmanager/SoapHelper.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/model/Issue.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/model/MailMessage.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/model/Project.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/model/UserData.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/model/Users.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/tests/LoginTests.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/tests/RegistrationTests.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/tests/ResetUserPasswordTest.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/tests/SoapTests.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/tests/TestBase.class
mantis-tests1/out/test/resources/local.properties
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/HelperBase.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/ContactData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactDeleteFromGroup.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/tests/PasswordChangeTest.class
mantis-tests1/out/test/classes/ru/stqa/pft/mantis/appmanager/PasswordChangeHelper.class
mantis-tests1/out/test/resources/hibernate.cfg.xml
rest-sample/out/test/classes/ru/stqa/pft/rest/RestTests.class
rest-sample/out/test/classes/ru/stqa/pft/rest/RestTests$1.class
rest-sample/out/test/classes/ru/stqa/pft/rest/Issue.class
rest-sample/out/test/classes/ru/stqa/pft/rest/RestAssuredTests.class
rest-sample/out/test/classes/ru/stqa/pft/rest/RestAssuredTests$1.class
rest-sample/out/test/classes/ru/stqa/pft/rest/TestBase.class
